/* About Section Styles */
.about-section {
  padding: 60px 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.about-section h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-section p a {
  color: #d50032;
  text-decoration: none;
}

.about-section p a:hover {
  text-decoration: underline;
}
